.fundofoto {
  --background: none;
  background: url('/assets/imgs/fundo.png') no-repeat center center / cover;
  opacity: 20%;
}

ion-title{
  text-align: center;
  color: #000;
  font-family: monospace;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}