<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      SOS Surdo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fundofoto">

  <div class="servicos-grid">

  <ion-card class="servico">
    <ion-card-content class="servico-content">

    <img
      src="/assets/imgs/police.png"
      alt="Ícone"
      class="servico-icon"
    />

    <h2>Polícia</h2>

  </ion-card-content>
  </ion-card>

  <ion-card class="servico">
    <ion-card-content class="servico-content">

    <img
      src="/assets/imgs/police.png"
      alt="Ícone"
      class="servico-icon"
    />

    <h2>Polícia</h2>

  </ion-card-content>
  </ion-card>

  <ion-card class="servico central">
    <ion-card-content class="servico-content">

    <img
      src="/assets/imgs/police.png"
      alt="Ícone"
      class="servico-icon"
    />

    <h2>Polícia</h2>

  </ion-card-content>
  </ion-card>

  <ion-card class="botaoLigar">
  <ion-card-content class="botao-content">

    <div class="botao-topo">
      <ion-icon name="alert-circle" class="icone-alerta"></ion-icon>

      <span class="texto-principal">
        LIGAR AGORA!
      </span>
    </div>

    <span class="texto-sub">
      Passa a localização atual
    </span>

  </ion-card-content>
</ion-card>

</div>

</ion-content>
